langchain_pinecone==0.0.3
langchain==0.2.11
streamlit==1.36.1
streamlit_chat
streamlit_lottie
streamlit_pills
python-dotenv==1.0.0
openai==1.37.0
sentence-transformers==2.2.2
langchain-community==0.2.10
tiktoken==0.7.0
portkey_ai==1.7.0
streamlit_cookies_controller==0.0.4
langchain-openai==0.1.17
langchain-core==0.2.23